@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
$family-sans-serif: "Rubik";

$navbar-item-active-background-color: hsl(0, 0%, 98%);

$menu-item-hover-color: hsl(229, 53%, 53%);
$menu-item-hover-background-color: hsl(0, 0%, 98%);
$menu-item-active-color: hsl(0, 0%, 4%);
$menu-item-active-background-color: hsl(0, 0%, 98%);

@import "bulma";
